* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.active {
  background: #5f5f5f;
}
.container {
  margin: 200px auto;
  width: 400px;
  height: 600px;
  padding: 20px;
  align-items: center;
  background-color: #f1f1f1;
  border: red solid 2px;
  display: grid;

  grid-template-areas:
    "input input input input"
    "allClean square . increment"
    "seven eight nine decrement"
    "four five six multiply"
    "one two three divide"
    "zero zero  point equal";
}

.input {
  grid-area: input;
  height: 40px;
  border: #5f5f5f 2px solid;
  font-family: "Times New Roman", Times, serif;
  font-size: 24px;
}

.button-number {
  border: #f1f1f1 solid 1px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
  font-family: "Times New Roman", Times, serif;
  font-size: 24px;
  border: green 2px solid;
}
.button-number:hover {
  background-color: #8f8f8f;
  transition: linear 0.25s;
}
.button-operation:hover {
  background-color: #8f8f8f;
  transition: linear 0.25s;
}

.button-operation:active {
  background-color: #5f5f5f;
}

.button-number:active {
  background-color: #5f5f5f;
}

.button-operation {
  border: #f1f1f1 solid 1px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
  font-family: "Times New Roman", Times, serif;
  font-size: 24px;
  border: blue 2px solid;
}

.button-number.one {
  grid-area: one;
}
.button-number.two {
  grid-area: two;
}
.button-number.zero {
  grid-area: zero;
  width: 170px;
  height: 80px;
  border-radius: 40px;
}
.button-number.three {
  grid-area: three;
}
.button-number.four {
  grid-area: four;
}
.button-number.five {
  grid-area: five;
}
.button-number.six {
  grid-area: six;
}
.button-number.seven {
  grid-area: seven;
}
.button-number.eight {
  grid-area: eight;
}
.button-number.nine {
  grid-area: nine;
}
.button-number.point {
  grid-area: point;
}
.button-operation.multiply {
  grid-area: multiply;
}
.button-operation.divide {
  grid-area: divide;
}
.button-operation.increment {
  grid-area: increment;
}
.button-operation.decrement {
  grid-area: decrement;
}
.button-operation.equal {
  grid-area: equal;
}
.button-operation.allClean {
  grid-area: allClean;
}
.button-operation.square {
  grid-area: square;
}
